%img_width {
    width: 100%;
    display: block;
    cursor: pointer;
}

%wrap_ {}

.section {
    overflow: hidden;
    position: relative;
    .carousel {
        position: relative;
        height: 700px;
        width: 1920px;
        margin: 0 auto 10px;
        margin-left: -360px;
        overflow: hidden;
        .index_cs {
            position: absolute;
            bottom: 26px;
            left: 42%;
            z-index: 3;
            li {
                float: left;
                width: 40px;
                height: 4px;
                background-color: #555;
                margin-right: 2px;
            }
            .active {
                background-color: #e95f46;
            }
        }
        .inner_cs {
            overflow: hidden;
            position: relative;
            height: 700px;
            li {
                height: 700px;
                overflow: hidden;
                width: 1920px;
                float: left;
            }
            img {
                @extend %img_width;
            }
        }
        .cs_left,
        .cs_right {
            position: absolute;
            top: 50%;
            color: #fff;
            font-size: 60px;
            cursor: pointer;
            display: none;
        }
        .cs_left {
            left: 40px;
        }
        .cs_right {
            right: 40px;
        }
    }
    .adv {
        margin-bottom: 10px;
        position: relative;
        img {
            @extend %img_width;
        }
    }
    .main {
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        .main_list {
            float: left;
            width: 50%;
            padding: 0 10px 10px 0;
            img {
                @extend %img_width;
            }
        }
    }
    .spell {
        margin-bottom: 10px;
        img {
            @extend %img_width;
        }
    }
    .recommend {
        background: #f0f0f0;
        padding: 40px 0;
        li {
            float: left;
            width: 30%;
            margin: 0 20px;
            .re_title {
                font-size: 14px;
                color: #666666;
                margin-bottom: 16px;
            }
            .re_info {
                font-size: 18px;
                color: #333;
                height: 60px;
            }
            .re_more {
                font-size: 14px;
                color: #5097df;
            }
            img {
                @extend %img_width;
                margin-bottom: 30px;
            }
        }
    }
}