html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  min-width: 1200px; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block; }

a {
  text-decoration: none;
  color: #333; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

.wrap {
  width: 1200px;
  margin: 0 auto; }

.header, .header .header_logo a {
  width: 100%;
  height: 60px;
  color: #333; }

.header {
  position: relative; }
  .header .header_logo {
    width: 20%;
    height: 60px;
    float: left;
    background: url(https://oss.static.nubia.cn/active/5dae6dd070bfa59.png) no-repeat center;
    background-size: 65%; }
    .header .header_logo a {
      display: block;
      text-indent: -99999px; }
  .header .header_content {
    float: left; }
    .header .header_content .con_li {
      font-size: 14px;
      float: left;
      cursor: pointer;
      line-height: 60px;
      padding: 0 25px; }
  .header .header_nav {
    float: left;
    line-height: 60px;
    padding-left: 80px;
    height: 60px; }
    .header .header_nav span {
      padding-right: 20px;
      cursor: pointer;
      font-size: 20px;
      position: relative; }
    .header .header_nav .loginreg {
      position: absolute;
      display: none;
      top: 20px;
      right: -76px;
      background: #fff;
      width: 300px;
      padding: 20px;
      overflow: hidden;
      z-index: 3; }
      .header .header_nav .loginreg li {
        color: #414143;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #eee; }
        .header .header_nav .loginreg li a {
          color: #999;
          font-size: 14px; }
          .header .header_nav .loginreg li a:hover {
            color: #333; }
  .header .head_tab {
    height: 200px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 58px;
    background: #fff;
    z-index: 4;
    display: none; }
    .header .head_tab .inner_tab {
      width: 200px;
      height: 200px;
      position: relative; }
      .header .head_tab .inner_tab .inner_index {
        float: left;
        position: absolute;
        top: 20px;
        left: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 110px; }
        .header .head_tab .inner_tab .inner_index .index_li {
          line-height: 30px;
          cursor: pointer;
          font-size: 12px;
          color: #333;
          float: left; }
      .header .head_tab .inner_tab .inner_list {
        position: absolute;
        left: 140px;
        display: flex; }
        .header .head_tab .inner_tab .inner_list .items {
          text-align: center;
          display: flex;
          flex-wrap: wrap;
          width: 800px;
          color: #de634f;
          justify-content: space-between;
          height: 200px;
          overflow: hidden;
          margin-right: 40px; }
          .header .head_tab .inner_tab .inner_list .items .title {
            line-height: 14px;
            color: #333;
            font-size: 12px; }
          .header .head_tab .inner_tab .inner_list .items span {
            line-height: 28px; }
        .header .head_tab .inner_tab .inner_list .inner_more {
          display: block;
          width: 100px;
          height: 44px;
          line-height: 44px;
          border-radius: 22px;
          color: #333;
          border: 1px solid #333;
          text-align: center;
          align-self: center; }
          .header .head_tab .inner_tab .inner_list .inner_more:hover {
            color: #fff;
            background: #333; }
        .header .head_tab .inner_tab .inner_list img {
          width: 100px;
          height: 100px; }
  .header .admin {
    display: none;
    position: absolute;
    right: 200px;
    top: 22px;
    color: #de634f;
    font-size: 14px; }
    .header .admin span {
      margin-right: 10px; }

.footer {
  clear: both;
  background: #fff;
  padding-bottom: 50px; }
  .footer .wrap {
    width: 1200px;
    margin: 0 auto; }
  .footer .f_serv_list {
    padding: 50px 7% 10px;
    text-align: center;
    border-bottom: 1px solid #eee; }
    .footer .f_serv_list li {
      float: left;
      width: 25%; }
    .footer .f_serv_list .f_serv {
      font-size: 16px;
      margin-bottom: 36px; }
    .footer .f_serv_list span {
      font-size: 50px;
      padding: 10px 0 20px;
      display: block; }
  .footer .f_cont {
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 50px 0; }
    .footer .f_cont .f_nav_list {
      float: left; }
      .footer .f_cont .f_nav_list .f_nav {
        float: left;
        width: 200px; }
      .footer .f_cont .f_nav_list .f_nav_title {
        font-size: 16px;
        margin-bottom: 30px;
        color: #333; }
      .footer .f_cont .f_nav_list .f_nav_info {
        font-size: 14px;
        color: #999;
        margin-bottom: 16px; }
    .footer .f_cont .f_link {
      float: right;
      text-align: right; }
      .footer .f_cont .f_link .f_online {
        float: right;
        background: #666;
        border-radius: 50px;
        text-align: center;
        margin-bottom: 30px;
        line-height: 50px;
        cursor: pointer;
        width: 150px;
        height: 50px;
        color: #fff; }
        .footer .f_cont .f_link .f_online span {
          font-size: 24px;
          margin-right: 4px;
          vertical-align: middle;
          font-weight: 900; }
      .footer .f_cont .f_link p {
        color: #999;
        line-height: 26px;
        font-size: 14px; }
        .footer .f_cont .f_link p span {
          font-weight: 400;
          font-size: 24px;
          color: #999;
          margin-left: 20px;
          cursor: pointer; }
      .footer .f_cont .f_link .f_phone {
        font-size: 20px;
        color: #333; }
      .footer .f_cont .f_link .f_focus {
        padding-top: 20px; }
  .footer .f_info {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    text-align: center; }
    .footer .f_info .f_copy {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 60px; }
      .footer .f_info .f_copy p {
        color: #999;
        font-size: 14px;
        line-height: 18px; }
        .footer .f_info .f_copy p a {
          color: #999; }
        .footer .f_info .f_copy p a:hover {
          color: #333; }
      .footer .f_info .f_copy span {
        margin: 0 5px;
        font-weight: 900; }
    .footer .f_info .f_state {
      color: #999;
      font-size: 14px;
      padding: 4px; }
    .footer .f_info svg {
      margin-right: 2px;
      font-size: 24px;
      vertical-align: middle; }
    .footer .f_info .f_state:hover {
      background-color: #636363;
      color: #fff;
      border-radius: 10px; }

.section {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 60px 0; }
  .section .goodspic {
    float: left;
    width: 600px;
    margin-right: 60px; }
    .section .goodspic img {
      width: 100%; }
    .section .goodspic .pic_list {
      display: flex;
      justify-content: space-around; }
      .section .goodspic .pic_list li {
        border: 1px solid #fff; }
      .section .goodspic .pic_list .selected {
        border: 1px solid #de634f; }
      .section .goodspic .pic_list img {
        width: 86px;
        height: 86px; }
  .section .goodsinfo {
    float: left;
    padding-top: 80px;
    font-size: 24px; }
    .section .goodsinfo .p_name {
      margin-bottom: 40px; }
    .section .goodsinfo .p_price {
      width: 50px;
      margin-bottom: 40px; }
    .section .goodsinfo .p_count {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #666;
      font-size: 14px;
      letter-spacing: 7px;
      line-height: 20px;
      margin-bottom: 30px; }
      .section .goodsinfo .p_count .p_num {
        width: 100px;
        height: 40px;
        border: 1px solid #e6e6e6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 6px; }
      .section .goodsinfo .p_count span {
        cursor: pointer;
        font-weight: 900;
        font-size: 24px; }
  .section .p_btn a {
    display: block;
    background: #eee;
    color: #333;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer; }
    .section .p_btn a:hover {
      background: #dedcdc; }

/*# sourceMappingURL=detail.css.map */
